<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Зарплата: {{salary}}</p>
    <p>НДФЛ (13%): {{ndfl}}</p>
    <table>
        <tr>
            <td>Статья</td>
            <td>%</td>
        </tr>
        <tr>
            <td>Пенсионный фонд</td>
            <td>22</td>
            <td>{{pf}}</td>
        </tr>
        <tr>
            <td>Фонд социального страхования</td>
            <td>2,9</td>
            <td>{{fss}}</td>
        </tr>
        <tr>
            <td>Федеральный   фонд   обязательного   медицинского страхования</td>
            <td>5,1</td>
            <td>{{oms}}</td>
        </tr>
        <tr>
            <td>Страховой   налог   от   несчастного   случая   на   производстве для служащих</td>
            <td>0,2</td>
            <td>{{fssn}}</td>
        </tr>
        <tr>
            <td>Итог</td>
            <td>30,2</td>
            <td>{{total}}</td>
        </tr>
    </table>
</body>
</html>